<!doctype html>

<html>
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css3-preloader-transition-start/css/main.css" />
<link rel="stylesheet" type="text/css" href="css3-preloader-transition-finish/css/main.css" />
<link href="css/introHCI.css" rel="stylesheet">

<body>


  <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
    <div class="container-fluid">
      <a class="glyphicon glyphicon-home navbar-brand navbar-left" href="/home"> Home</a>
      <a class="glyphicon glyphicon-info-sign navbar-brand navbar-left" href="/help"> Help</a>
      <a class="glyphicon glyphicon-log-out navbar-brand navbar-left" href="/logout"> Logout</a>
      <span class = "glyphicon glyphicon-user navbar-brand navbar-right"> {{status.loginStatus.username}}</span>
    </div>
  </nav>




  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div id="content">
    </div>
  </div>


  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
      <div class="centered">
       <h1>{{status.loginStatus.result}}</h1>
       <div class = "userScore"> <h3>{{status.loginStatus.name}}: {{status.loginStatus.score}} / {{status.loginStatus.totalScore}}.</h3> </div>
       <div class= "opponentScore"> <h3>Opponent: {{status.loginStatus.opponentScore}} / {{status.loginStatus.totalScore}}.</h3> </div>
       <div class = "bestScore"> <h3>Your best score is {{bestScore}}.</h3></div>
     </div>
   </div>
 </div>




 <div class="mainButton">
  <a href="/play"><button class="btn btn-default">Play Again</button></a>
  <br>  <br>  
  <a href="/home"><button class="btn btn-default">Home</button></a>
</div>

<script type="text/javascript">
document.onkeydown = function (e) {
  if(e.which == 116){
    return false;
  }
}
</script>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="css3-preloader-transition-start/js/main.js"></script>
<script src="css3-preloader-transition-finish/js/main.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/introHCI.js"></script>
<script type="text/javascript">


</script>
{{> googleAnalytics}}
</body>
</html>
