<!doctype html>

<html>
<head>
	<title>My Stats</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/introHCI.css" rel="stylesheet">
  <link href="css/table.css" rel="stylesheet">
  <!-- this is a comment in HTML -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->        
    </head>

    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
        <div class="container-fluid">
          <a class="glyphicon glyphicon-home navbar-brand navbar-left" href="/home"> Home</a>
          <a class="glyphicon glyphicon-info-sign navbar-brand navbar-left" href="/help"> Help</a>
          <a class="glyphicon glyphicon-log-out navbar-brand navbar-left" href="/logout"> Logout</a>
          <span class = "glyphicon glyphicon-user navbar-brand navbar-right"> {{status.loginStatus.username}}</span>
        </div>
      </nav>
      
      <div class="container">
        <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
        <!-- p means paragraph -->
        <br>
        <div class="t1">	<h1>My Stats</h1></div>
        <div class="centered">
          <h3><b>{{course.courseID}} - {{course.courseName}}</b></h3>
          <h3>Best Score: {{course.bestScore}}</h3>
        </div>


        <table class="bordered">
          <thead>
            <tr>
              <td class="win">Wins</td>
              <td class="loss">Losses</td>
              <td class="tie">Ties</td>
            </tr>
          </thead>

          <tr>
            <td class="win">{{course.wins}}</td>
            <td class="loss">{{course.losses}}</td>
            <td class="tie">{{course.ties}}</td>
          </tr>
        </table>
      </div>





      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/introHCI.js"></script>
      {{> googleAnalytics}}
    </body>
    </html>
